* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    /* background-image: url(/pexels-lidia-miralles-16968296.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; */
    background-color: #344966;
}

ul, ol {
    list-style-type: none;
}

header {
    background-color: lightblue;
}

main {
    /* background-color: coral; */
    /* width: 80%; */
    margin: 0 auto; /* esto centra divs que tengan ancho definido */
    text-align: center;
}

footer {
    background-color: lightgreen;
}

.social {
    background-color: beige;
}

.carousel img{
    border-radius: 10px;
}

.container-fluid {
    /* padding: 0; */
}

.tarjeta {
    background-color: aqua;
    /* margin: 5px 0; */
    padding: 20px;
    border-radius: 2px;
}

.tarjeta img{
    width: 100%;
}

.navbar {
    background-color: #344966;
}
